/* IMPOSTAZIONI GENERALI */
body{
    
    background-image: url(../img/sfondo.png);
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}
    strong{
        font-weight: 600;
        color: #aa2072;
    }
    code{
        background-color: lightgray;
        border-radius: 6px;
        border: 1px solid gray;
        padding-block: 0.25rem;
    }

    ul{
        list-style: disc;
        
    }
     ol{
        list-style: decimal;
        ;
        
     }
ul,ol{
    padding-left: 40px;
    margin-bottom: 1rem;
      text-align: auto;
}
/* HEADER */
header{
    background-color: #0099bb;
    background-image: linear-gradient(to botton,#0099bb 0%,#006A88 100%);
    margin-bottom: 1rem;
    text-align: center;
    color: white;
     text-transform: uppercase;
     padding: 1rem;
}

header p {

    margin-block: 1rem;
}
header a {
    color: inherit;
    text-decoration: none;
    
}

header ul{

    list-style: none;
}
/* MAIN */
   main{
        background-color: white;
        padding: auto

   }

h1{
    font-size: 36px;
    letter-spacing: -1.5px;
}

.titolo{
      color: lightblue;
       margin-block: 1.5rem;    
}
p{
    padding-left: 40px;
    margin-bottom: 1rem;
}

h2{
    padding-left: 40px;
    
}
caption{
    color: rgb(0, 0, 0);
}
th{
    background-color: royalblue;
    padding-bottom: 2rem;
   
}
thead{
     
}
td{
    text-align: center;
    padding-bottom: 2rem;
}
section h2{
text-align: center;
border-bottom: 2rem;
margin-bottom: 1rem;


}
section{
    background-color: gray;
     padding-block: 1rem;
}




/*NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
